BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Always
TabWidth: 4

# 访问修饰符也按 4 列 Tab 缩进
AccessModifierOffset: -4				# 向左退 4 列（负数 = 与主体同级）
IndentAccessModifiers: false		# 允许 Tab 缩进 private:/public:

# 命名空间配置 - 内部元素缩进一级
NamespaceIndentation: All

# 强制关闭自动推导对齐方式，否则它会根据你代码中的既有风格自动改变
#DerivePointerAlignment: false

# 设置指针和引用的对齐方式为居中
PointerAlignment: Middle